.env
docker-compose.yml
config.py

venv/
rag_frontend/
__pycache__/
.pytest_cache/
node_modules/
# ignore Pycharm/IntelliJ configuration files
.idea

#ignore generated logs
logs/*

sample.pdf
sample.docx
sample.html
sample.txt